
#product-overview {
    background: grey;
    padding: 20px;
    height: 380px;
}

#product-overview h1{
    color: white;
}

.section-title{
    text-align: center;
    color: darkgreen;
}

#plans{
    text-align: center;
}

.plan{
    text-align: center;
    display: inline-block;
    background-color: lightgreen;
    border-radius: 4px;
    margin: 8px;
    width: 30%;
    vertical-align: middle;
    padding: 48px 0;
}

.plan h3{
    margin: 0 5px;
}

.plan ul{
    padding: 0px;
}

.recommended{
    box-shadow: 3px 3px 3px 3px rgba(23, 116, 19, 0.5);
    color: white;
    background-color: #19b84c;
    padding: 48px 20px;
}

.plan--highlighted{
    font-weight: bold;
    background: white;
    border-radius: 8px;
    padding: 8px;
    color: #19b84c;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}

.plan li{
    list-style-type: none;
}

.plan__list{
    width: 90%;
    margin: auto;
}

#key-features{
    background: #ff1b68;
    margin-top: 80px;
    padding: 16px;
}

#key-features .section-title{
    color:white;
}

.key-feature__list{
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.key-feature{
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.key-feature__image{
    background: #ffcede;
    width: 120px;
    height: 120px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: 0 auto;
}

.key-feature__description{
    font-weight: bold;
    color: white;
    font-size: 20px;
}